<h3>Create account</h3>
<form class="form-horizontal" enctype="multipart/form-data" name="registerForm" novalidate>
    <div class="form-group">
        <label for="name" class="control-label col-md-2">Name</label>
        <div class="col-md-10">
            <input ng-model="user.name" id="name" required type="text" class="form-control" placeholder="Enter your first name here"/>
        </div>
    </div>

    <div class="form-group">
        <label for="surname" class="control-label col-md-2">Surname</label>
        <div class="col-md-10">
            <input ng-model="user.surname" id="surname" required type="text" class="form-control" placeholder="Enter your last name here"/>
        </div>
    </div>

    <div class="form-group">
        <label for="email" class="control-label col-md-2">Email</label>
        <div class="col-md-10">
            <input ng-model="user.email" id="email" required type="email" class="form-control" placeholder="Enter your email here"/>
        </div>
    </div>

    <div class="form-group">
        <label for="username" class="control-label col-md-2">Username</label>
        <div class="col-md-10">
            <input ng-model="user.username" id="username" required type="text" class="form-control" placeholder="Enter your username here"/>
        </div>
    </div>

    <div class="form-group">
        <label for="password" class="control-label col-md-2">Password</label>
        <div class="col-md-10">
            <input ng-model="user.password" id="password" required type="password" class="form-control" placeholder="Enter your password here"/>
        </div>
    </div>

    <div class="form-group">
        <label for="image" class="control-label col-md-2">Image</label>
        <div class="col-md-10">
            <input id="image" type="file" accept="image/*" file-model="user.image" class="form-control"/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-3">
            <button ng-click="resetForm();" class="btn btn-danger btn-block"><i class="glyphicon glyphicon-alert"></i> Reset form</button>
        </div>
        <div class="col-md-3">
            <button ng-click="registerUser(registerForm);" ng-disabled="registerForm.$invalid" class="btn btn-success btn-block"><i class="glyphicon glyphicon-check"></i> Register</button>
        </div>
    </div>
</form>