<!DOCTYPE html>
<html ng-app="StudyBuddies">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study buddies</title>
</head>
<body ng-cloak>
    <div ui-view="header" class="container"></div>
    <div ui-view="content" class="container"></div>
    <div ui-view="footer" class="container"></div>

    <script src="~/Scripts/dist/vendor.bundle.js"></script>
    <script src="~/Scripts/dist/bundle.js"></script>
<link rel="stylesheet" href="~/Content/font-awesome.css" />
</body>
</html>