<ul class="list-group">
    <li class="list-group-item"><a ui-sref="app.wbs.possibleUserGroups">Group suggestions by area</a></li>
    <li class="list-group-item"><a ui-sref="app.wbs.userGroups">User groups</a></li>
    <li class="list-group-item"><a ui-sref="app.wbs.relevantUserPosts">Relevent user posts</a></li>
    <li class="list-group-item"><a ui-sref="app.wbs.relevantPeople">Relevant people</a></li>
    <li class="list-group-item"><a ui-sref="app.wbs.relevantGroups">Suggested groups</a></li>
</ul>