$marginTop: 70px;

[ui-view="content"] {
    margin-top: $marginTop;
}

/* width-[5..100]% classes */
$maxWidth: 100;
$step: 5;
@for $i from $step through $maxWidth {
    .width-#{$i} {
        width: #{$i}% !important;
    }
    $i: $i + $step;
}

/* margin: [5..100]% */
@for $i from $step through $maxWidth {
    .margin-#{$i} {
        margin: #{$i}% !important;
    }

    $i: $i + $step;
}

@for $i from $step through $maxWidth {
    .margin-top-#{$i} {
        margin-top: #{$i}% !important;
    }

    $i: $i + $step;
}

@for $i from $step through $maxWidth {
    .margin-bottom-#{$i} {
        margin-bottom: #{$i}% !important;
    }

    $i: $i + $step;
}

@for $i from $step through $maxWidth {
    .margin-left-#{$i} {
        margin-left: #{$i}% !important;
    }

    $i: $i + $step;
}

@for $i from $step through $maxWidth {
    .margin-right-#{$i} {
        margin-right: #{$i}% !important;
    }

    $i: $i + $step;
}

@for $i from $step through $maxWidth {
    .padding-#{$i} {
        padding: #{$i}% !important;
    }

    $i: $i + $step;
}

@for $i from $step through $maxWidth {
    .padding-top-#{$i} {
        padding-top: #{$i}% !important;
    }

    $i: $i + $step;
}

@for $i from $step through $maxWidth {
    .padding-bottom-#{$i} {
        padding-bottom: #{$i}% !important;
    }

    $i: $i + $step;
}

@for $i from $step through $maxWidth {
    .padding-left-#{$i} {
        padding-left: #{$i}% !important;
    }

    $i: $i + $step;
}

@for $i from $step through $maxWidth {
    .padding-right-#{$i} {
        padding-right: #{$i}% !important;
    }

    $i: $i + $step;
}